body{
    background-color: #FFEACC;
    font-family: sans-serif;
}

h1{
    text-transform: uppercase;
    color: #995900;
    font-size: 2rem;
}

h2{
    color: #FF9500;
    font-size: 2rem;
    font-weight: 300;
}

.rosa{
    background-color: pink ;
    font-size: 4rem;
}

.white{
    background-color: whitesmoke;
    font-size: 4rem;
}

details{
    font-size: 4rem;
}

p{
    font-size: 2rem;
}